
.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  max-width: 100%;
  padding: 1% 5%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative; 
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) and (min-width: 401px) {
  .App {
    overflow-x: hidden;
    max-width: 100vw; 
    width: 100%;
  }
}

@media (max-width: 400px) {
    .App {
    max-width: 100%; 
    padding: 0; 
    margin: 0;
  }
}
